<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="br.edu.ufcg"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/cabide" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".MobileclosetActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SobreActivity" android:theme="@android:style/Theme.Dialog"/>
        
        <activity android:name=".EscolherManequimActivity" />
        
        <activity android:name=".Creditos" android:theme="@android:style/Theme.Dialog" ></activity>
        
        <activity android:name=".TirarFotoActivity" ></activity>
        
        <activity android:name=".Closet" ></activity>
        
        <activity android:name=".Provar" ></activity>
        
        <activity android:name=".RoupasActivity" ></activity>
        
        <activity android:name=".TirarFotoRoupaActivity" ></activity>
        
        <activity android:name=".ManequimActivity" ></activity>
        
        <activity android:name=".CalibragemRoupasActivity" ></activity>
        
        <activity android:name=".VisualizacaoDeRoupasActivity" ></activity>
        
        <activity android:name=".ProvadorActivity" ></activity>
        
        
    </application>
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
       
</manifest>